<!DOCTYPE html>
body{
    overflow: hidden;
    overflow-y: auto;
}
.container{
    width: 90%;
    margin: 0 auto;
}

/* navbar */
.navbar{
    text-align: right;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    margin-top:15px;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}
.navbar ul li a:hover{
    color: red;
}
.heading{
    text-align: center;
}
.table,th,td,tr{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px 12px;
}
.img img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.contact_information{
    margin-top: 40px;
}
.contact_information h3,p{
    display: inline-block;
}
.contact_information p{
    margin-left: 8px;
    font-size: 20px;
}
.form_style h4 input{
    outline: none;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border-color: darkgray;
    width: 20%;
}
.form_style button{
    outline: none;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
}
.cv_header{
    margin-bottom: 20px;
    text-align: center;
}
.cv_header h4{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.table tr td h4,h5{
    margin: 0;
    padding: 0;
}
.table tr td h4{
    margin-bottom: 8px;
}
.table tr td h5{
    font-size: 16;
    font-weight: lighter;
}
.site_report{
    font-size: 18px;
}
