
body{
    overflow: hidden;
    overflow-y: auto;
   
}
.container{
    width: 90%;
    margin: 0 auto;
}


/* navbar */
.navbar{
    text-align: right;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    margin-top:15px;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}
.navbar ul li a:hover{
    color: red;
    
}


.heading{
    text-align: center;
}

.containerthree{
    display: grid;
    grid-template-columns: 2% 10% 17% 57% 10% 5%;
    grid-template-rows: auto;
    grid-template-areas: 
                         "coloumn1 coloumn2 coloumn3 coloumn4 coloumn5 coloumn6 "
                         "footer footer footer footer footer footer ";
}



.containerthree .coloumn1{
    background-color: grey;
    grid-area:coloumn1 ;
    
}
.containerthree .coloumn2{
    background-color: grey;
    grid-area:coloumn2 ;
}

.containerthree .coloumn3{
    background-color: grey;
    grid-area:coloumn3 ;
}

.containerthree .coloumn4{
    background-color: grey;
    grid-area:coloumn4 ;
}
.containerthree .coloumn5{
    background-color: grey;
    grid-area:coloumn5 ;
}
.containerthree .coloumn6{
    background-color: grey;
    grid-area:coloumn6 ;
}
.tableimage{
    width: 60px;
    height: 30px;
    object-fit: cover;
    margin-bottom: 6px;
}


.contact_information{
    margin-top: 40px;
}
.contact_information h3,p{
    display: inline-block;
}
.contact_information p{
    margin-left: 8px;
    font-size: 20px;
}
.form_style h4 input{
    outline: none;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border-color: darkgray;
    width: 20%;
}
.form_style a{
    outline: none;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
}
.containertwo{
    display: grid;
    grid-template-columns: 36% 36% 28%;
    grid-template-rows: auto;
    grid-template-areas: 
                         "nav main aside "
                         "footer footer footer";
}
header{
    background-color: white;
    color: black;
    padding: 30px;
    text-align: center;   
}
.colomun1 header{
    text-align: center;
}
.containertwo .coloumn2{
    background-color: grey;
    grid-area:nav ;
    
}
.containertwo .coloumn3{
    background-color: gray;
    color: black;
    grid-area:main ;
}
.containertwo .coloumn4{
    background-color: grey;
    grid-area:aside;
}
.containertwo .coloumn5{
    background-color: chartreuse;
    color: yellowgreen;
    grid-area:footer ;
}
.site_report{
    font-size: 18px;
}
.top-header{
    text-align: center;
}
.valadation{
    width: 800px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 6px;
}

