body{
    overflow: hidden;
    overflow-y: auto;
}
.container{
    width: 90%;
    margin: 0 auto;
}

/* navbar */
.navbar{
    text-align: right;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    margin-top: 0 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
.heading{
    text-align: center;
}
.table,th,td,tr{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px 12px;
}
.img img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
